
body{
    
font-family: Verdana,sans-serif;   
    font-size:12pt;
 margin:0; 
 background:#eee;
   
}


/*nav style begins*/

nav{

 background:#333333;
 padding:1px;
  
   
  
 
    

 }

nav ul {
    list-style-type: none;
    text-align:center;
     
 
  
  
   
}

nav li {
    
  
    display:inline-block;
   
   
   
}

nav a:link, a:visited {
    
   
    font-weight: bold;
    color: #FFFFFF;
    background:#333333;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    display:inline-block;
  
    
   
     
}

nav a:hover, a:active {
    padding: 10px;
    color:#333333;
    background:#FFFF00;
      
}

            
/*nav style ended*/


header{
    
   border:1px solid #333333;
   margin:5px;
   margin-bottom:15px;
   padding:8px;
   background-color:#eee; 
   text-align:center;
    background:#fff; 
    position:relative;
    
}


section{
    
   background:#333333;
    margin:15px;
    padding:20px;
    padding-top:0px;
    border:1px solid grey;
    margin-left: 340px;
    margin-right: 340px;
    text-align:left;
    display:inline-block;
}


h2{
    
   color:#FFFF00;
    text-align:center;
   
    
}

article{
    
   background:#fff; 
    padding:5px 10px 20px 20px;
    color:#333333;
    display:inline-block;
  
}


img{
    
  background: #eaeaed;
  border: 1px solid #9799a7;
  padding: 3px;
}


figure{
   
    padding-left:75px;
    
  
}


figcaption{
    
    text-align:center;
    font-weight:bold;
    padding:10px;
}



a{
   
    color:#333333;
    background:#FFFFFF;
      
}


mark{
    
    background:red;
    color:#fff;
    
    
}

video{
   
 
  background: #eaeaed;
  border: 1px solid #9799a7;
  float: left;
  margin-left:5px;
  margin-right:15px;
  margin-top:0px;  
  padding: 5px;
}


footer{
    
   background:#333333; 
    width:100%;
    height:50px;
    padding:5px;
    color:yellow;
    text-align:center;
   
    
}